@model DCCofee.Models.SanPham

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/User/images/favicon.png">
    <title>
        Welcome to DC Coffee
    </title>
    <link href="~/Content/User/css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100' rel='stylesheet' type='text/css'>
    <link href="~/Content/User/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/User/css/flexslider.css" type="text/css" media="screen" />
    <link href="~/Content/User/css/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
    </script>
    <script src="https://oss.maxcdn.com/libs/respond.~/Content/User/js/1.3.0/respond.min.js">
    </script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">

        <div class="clearfix">
        </div>
        <div class="container_fullwidth">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="products-details">
                            <div class="preview_image">
                                <div class="preview-small" style="justify-content:center;align-items:center;display:flex;">
                                    <img id="" src="~/Content/User/images/products/medium/cf campuchino.jpg" data-zoom-image="~/Content/User/images/products/Large/cf campuchino.jpg" alt="">
                                </div>
                               @* <div class="thum-image">
                                    <ul id="gallery_01" class="prev-thum">
                                        <li>
                                            <a href="#" data-image="~/Content/User/images/products/medium/cf campuchino.jpg" data-zoom-image="~/Content/User/images/products/Large/cf campuchino.jpg">
                                                <img src="~/Content/User/images/products/thum/cf campuchino.jpg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-image="~/Content/User/images/products/medium/bánh Pastry Cherry Strudel.jpg" data-zoom-image="~/Content/User/images/products/Large/bánh Pastry Cherry Strudel.jpg">
                                                <img src="~/Content/User/images/products/thum/bánh Pastry Cherry Strudel.jpg"  alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-image="~/Content/User/images/products/medium/bánh kem dâu.jpg" data-zoom-image="~/Content/User/images/products/Large/bánh kem dâu.jpg">
                                                <img src="~/Content/User/images/products/thum/bánh kem dâu.jpg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-image="~/Content/User/images/products/medium/nước ép dưa hấu.jpg" data-zoom-image="~/Content/User/images/products/Large/nước ép dưa hấu.jpg">
                                                <img src="~/Content/User/images/products/thum/nước ép dưa hấu.jpg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-image="~/Content/User/images/products/medium/cf sương sáo.jpg" data-zoom-image="~/Content/User/images/products/Large/cf sương sáo.jpg">
                                                <img src="~/Content/User/images/products/thum/cf sương sáo.jpg" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                    <a class="control-left" id="thum-prev" href="javascript:void(0);">
                                        <i class="fa fa-chevron-left">
                                        </i>
                                    </a>
                                    <a class="control-right" id="thum-next" href="javascript:void(0);">
                                        <i class="fa fa-chevron-right">
                                        </i>
                                    </a>
                                </div>*@
                            </div>
                            <div class="products-description">
                                <h5 class="name">
                                    @Model.TenSP
                                </h5>
                                <p>
                                    <img alt="" src="~/Content/User/images/star.png">
                                    <a class="review_num" href="#">
                                        02 Review(s)
                                    </a>
                                </p>
                                <p>
                                    Tình trạng:
                                    <span class=" light-red">
                                        Còn hàng
                                    </span>
                                </p>
                                <p>
                                   @Model.Mota
                                </p>
                                <hr class="border">
                                <div class="price">
                                    Giá :
                                    <span class="new_price">
                                        @Model.DonGia
                                        <sup>
                                            đ
                                        </sup>
                                    </span>
                                    
                                </div>
                                <hr class="border">
                                <div class="wided" style=" margin-left: -150px">
                                   
                                    <div class="button_group">
                                        <button class="button">
                                            @if (Session["id"] != null)
                                            {
                                                @Html.ActionLink("Thêm giỏ hàng", "AddToCart", "GioHangTest", new { sanpham = Model.Id }, "")
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Thêm giỏ hàng", "DangNhap", "DangNhap")
                                            }
                                        </button> 
                                        <button class="button compare">
                                            <i class="fa fa-exchange">
                                            </i>
                                        </button>
                                        <button class="button favorite">
                                            <i class="fa fa-heart-o">
                                            </i>
                                        </button>
                                        <button class="button favorite">
                                            <i class="fa fa-envelope-o">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                                <div class="clearfix">
                                </div>
                                <hr class="border">
                                <img src="~/Content/User/images/share.png" alt="" class="pull-right">
                            </div>
                        </div>
                      
                        <div class="clearfix">
                        </div>

                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="col-md-3">
                      
                        <div class="clearfix">
                        </div>
                       
                        <div class="get-newsletter leftbar">
                            <h3 class="title">
                                Nhận
                                <strong>
                                    phản hồi
                                </strong>
                            </h3>
                           
                            <form>
                                <input class="email" type="text" name="" placeholder=" Email của bạn...">
                                <input class="submit" type="submit" value="Gửi">
                            </form>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="fbl-box leftbar">
                            <h3 class="title">
                                Facebook
                            </h3>
                            <span class="likebutton">
                                <a href="#">
                                    <img src="~/Content/User/images/fblike.png" alt="">
                                </a>
                            </span>
                            <p>
                                12k people like DC Coffee.
                            </p>
                            <ul>
                                <li>
                                    <a href="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    </a>
                                </li>
                            </ul>
                            <div class="fbplug">
                                <a href="#">
                                    <span>
                                        <img src="~/Content/User/images/fbicon.png" alt="">
                                    </span>
                                    Facebook social plugin
                                </a>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
                
            </div>
        </div>
        <div class="clearfix">
        </div>

    </div>
    <!-- Bootstrap core JavaScript==================================================-->
    <script type="text/javascript" src="~/Content/User/js/jquery-1.10.2.min.js">
    </script>
    <script type="text/javascript" src="~/Content/User/js/bootstrap.min.js">
    </script>
    <script defer src="~/Content/User/js/jquery.flexslider.js">
    </script>
    <script type="text/javascript" src="~/Content/User/js/jquery.carouFredSel-6.2.1-packed.js">
    </script>
    <script type="text/javascript" src='~/Content/User/js/jquery.elevatezoom.js'>
    </script>
    <script type="text/javascript" src="~/Content/User/js/script.min.js">
    </script>
</body>
</html>

